/* ================= BASE ================= */

.ui-btn {
  border: none;
  border-radius: 2px;
  font-family: inherit;
  font-weight: 500;

  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding: 0px;
  overflow: hidden;

  cursor: pointer;
  transition: background 0.2s ease, color 0.2s ease;
}

/* ================= SIZES ================= */

.ui-btn.small {
  width: 99px;
  height: 33px;
  font-size: 12px;
}

.ui-btn.medium {
  width: 130px;
  height: 40px;
  font-size: 14px;
}

.ui-btn.large {
  width: 183px;
  height: 43px;
  font-size: 16px;
}


/* ================= PRIMARY ================= */

/* Default */
.ui-btn.primary.default {
  background: var(--gob-primary-color-300);
  color: var(--gob-secondary-color-100);
}

/* Hover */
.ui-btn.primary:hover {
  background: var(--gob-primary-color-200);
  color: var(--gob-secondary-color-100);
}

/* Pressed */
.ui-btn.primary:active {
  background: var(--gob-primary-color-400);
  color: var(--gob-secondary-color-100);
}

/* Disabled */
.ui-btn.primary.disabled,
.ui-btn.primary:disabled {
  background: var(--gob-primary-color-100);
  color: var(--gob-secondary-color-100);
}

/* ================= SECONDARY ================= */

/* Default */
.ui-btn.secondary.default {
  background: var(--gob-secondary-color-600);
  color: var(--gob-secondary-color-100);
}

/* Hover */
.ui-btn.secondary:hover {
  background: var(--gob-secondary-color-500);
  color: var(--gob-secondary-color-100);
}

/* Pressed */
.ui-btn.secondary:active {
  background: var(--gob-secondary-color-400);
  color: var(--gob-secondary-color-100);
}

/* Disabled */
.ui-btn.secondary.disabled,
.ui-btn.secondary:disabled {
  background: var(--gob-secondary-color-200);
  color: var(--gob-secondary-color-400);
}

/* ================= TEXT ================= */

/* Default */
.ui-btn.text.default {
  background: transparent;
  color: var(--gob-secondary-color-700);
}

/* Hover */
.ui-btn.text:hover {
  background: transparent;
  color: var(--gob-secondary-color-500);
}

/* Pressed */
.ui-btn.text:active {
  background: transparent;
  color: var(--gob-secondary-color-400);
}

/* Disabled */
.ui-btn.text.disabled,
.ui-btn.text:disabled {
  background: transparent;
  color: var(--gob-secondary-color-200);
}

/* ================= ICON ================= */

.btn-icon-left {
  font-size: 14px;
  margin-right: auto;
}

.gob-button-middle-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.btn-icon-right {
  font-size: 14px;
  margin-left: auto;
}