/* ================= BASE ================= */

.ui-btn {
  border: none;
  border-radius: 2px; /* 👈 como pediste */
  font-family: inherit;
  font-weight: 500;

  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding: 0px;
  overflow: hidden;

  cursor: pointer;
  transition: background 0.2s ease, color 0.2s ease;
}

/* ================= SIZES ================= */

/* ================= SIZES ================= */

.ui-btn.small {
  width: 99px;
  height: 33px;
  font-size: 12px;
}

.ui-btn.medium {
  width: 130px;
  height: 40px;
  font-size: 14px;
}

.ui-btn.large {
  width: 183px;
  height: 43px;
  font-size: 16px;
}


/* ================= PRIMARY ================= */

/* Default */
.ui-btn.primary.default {
  background: #EC6608;
  color: #FFFFFF;
}

/* Hover */
.ui-btn.primary:hover {
  background: #EF8031;
  color: #FFFFFF;
}

/* Pressed */
.ui-btn.primary:active {
  background: #C55507;
  color: #FFFFFF;
}

/* Disabled */
.ui-btn.primary.disabled,
.ui-btn.primary:disabled {
  background: #F9CCAD;
  color: #FFFFFF;
}

/* ================= SECONDARY ================= */

/* Default */
.ui-btn.secondary.default {
  background: #413E43;
  color: #FFFFFF;
}

/* Hover */
.ui-btn.secondary:hover {
  background: #615E62;
  color: #FFFFFF;
}

/* Pressed */
.ui-btn.secondary:active {
  background: #C7C7C7;
  color: #FFFFFF;
}

/* Disabled */
.ui-btn.secondary.disabled,
.ui-btn.secondary:disabled {
  background: #F5F5F5;
  color: #C7C7C7;
}

/* ================= TEXT ================= */

/* Default */
.ui-btn.text.default {
  background: transparent;
  color: #000000;
}

/* Hover */
.ui-btn.text:hover {
  background: transparent;
  color: #615E62;
}

/* Pressed */
.ui-btn.text:active {
  background: transparent;
  color: #C7C7C7;
}

/* Disabled */
.ui-btn.text.disabled,
.ui-btn.text:disabled {
  background: transparent;
  color: #F5F5F5;
}

/* ================= ICON ================= */

.btn-icon-left {
  font-size: 14px;
  margin-right: auto;
}

.gob-button-middle-text{
    position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.btn-icon-right {
  font-size: 14px;
  margin-left: auto;
}

