:root {
  --gob-primary-color-100: #F9CCAD;
  --gob-primary-color-200: #EF8031;
  --gob-primary-color-300: #EC6608;
  --gob-primary-color-400: #C55507;

  --gob-secondary-color-100: #FFFFFF;
  --gob-secondary-color-200: #F5F5F5;
  --gob-secondary-color-300: #EEEBEB;
  --gob-secondary-color-400: #C7C7C7;
  --gob-secondary-color-500: #615E62;
  --gob-secondary-color-600: #413E43;
  --gob-secondary-color-700: #000000;
  
  --gob-alternative-color-100: #FED422;
  --gob-alternative-color-200: #FF8300;
  --gob-alternative-color-300: #E43D30;

  --gob-lar:#85CAB7;
  --gob-permtemp:#AB6B3C;
}